{% extends 'base.html' %}

{% block content %}
<h2>Insertar Datos</h2>

<h3>Insertar Autor</h3>
<form method="post">
    {% csrf_token %}
    {{ autor_form.as_p }}
    <button type="submit" name="autor">Guardar Autor</button>
</form>

<h3>Insertar Editorial</h3>
<form method="post">
    {% csrf_token %}
    {{ editorial_form.as_p }}
    <button type="submit" name="editorial">Guardar Editorial</button>
</form>

<h3>Insertar Libro</h3>
<form method="post">
    {% csrf_token %}
    {{ libro_form.as_p }}
    <button type="submit" name="libro">Guardar Libro</button>
</form>
{% endblock %}
